@use "../core/variables" as vars;

:root {
    font-family: vars.$font-normal;
    color: vars.$color-white;
}

@media screen and (min-width: 420px) {
    :root {
        font-size: 12px;
    }
}

@media screen and (min-width: 560px) {
    :root {
        font-size: 14px;
    }
}

.container {
    padding: 22px 22px 0 22px;
    background-color: vars.$color-dark;
}

@media screen and (min-width: 768px) {
    .main {
        max-width: 980px;
        margin-inline: auto;
        display: grid;
        grid-template-columns: 6fr 5fr;
        gap: 2rem;
    }
}

.hero {
    margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
    .hero {
        grid-column: span 2;
    }
}

.hero .title {
    font: vars.$font-title-big;
    margin-bottom: 8px;
}

.hero .hero__text {
    font: vars.$font-text-big;
    text-align: center;
    margin-inline: 4rem;
    margin-bottom: 1.8rem;
}

/* FORM */

/* .footer {
    display: flex;
    justify-content: center;
    padding: 19px;
} */

/* COMPONENTS */

.title {
    text-align: center;
    text-transform: capitalize;
}

.logoSponsor {
    height: 46px;
}

.button--link {
    display: block;
    width: fit-content;

    margin-inline: auto;
    margin-block: 8px;
    padding: 5px 18px;
    color: vars.$color-white;
    font: vars.$font-button;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-style: solid;
    border-width: 1px;
    // border-image-source: linear-gradient(
    //     to bottom,
    //     #2a2a2a 0%,
    //     rgba(0, 0, 0, 0)
    // );
    background-image: linear-gradient(
        to right,
        vars.$color-dark-lilac -2%,
        #c0b7e8 98%
    );
    border-image-slice: 1;
    border-radius: 20px;
    background-color: vars.$color-dark-lilac;
    /*
    background-image: linear-gradient(to bottom, vars.$(--color-dark-lilac), vars.$(--color-dark-lilac)), linear-gradient(to bottom, #2a2a2a 0%, rgba(0, 0, 0, 0));
    background-origin: border-box;
    background-clip: content-box, border-box;
    */
}

/* ICONS */
