@use "../core/variables" as vars;

.addForm {
    margin: 0 20px 5px 20px;

    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: solid 1px rgba(0, 0, 0, 0);
    background-image: radial-gradient(
        circle at 50% 50%,
        vars.$color-dusk,
        #211e2e 92%
    );
}

.addForm .title {
    font: vars.$font-title-biggest;
    margin-block: 18px;
}

.addForm .addForm__title {
    position: relative;
    background-clip: padding-box;
    padding-block: 0.4rem;
    margin-block: 0.5rem;
    border: solid 2px transparent;

    font: vars.$font-title-medium;
    text-align: center;
}

.addForm .addForm__title:before {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;

    margin-bottom: -2px;
    border-radius: inherit;
    background-color: transparent;
    background-image: linear-gradient(
        to left,
        transparent,
        #343045 25%,
        #c0b7e8 45%,
        vars.$color-dark-lilac 65%,
        #343045 75%,
        transparent
    );
}

.addForm .addForm__group {
    margin-bottom: 25px;
}

.addForm .addForm__input {
    display: block;
    width: calc(100% - 20px);
    margin: 10px auto;

    padding: 8.5px 16px 8.5px 16px;
    border-radius: 40px;
    border: solid 2px vars.$color-white;

    color: vars.$color-white;
    background-color: transparent;

    font: vars.$font-normal;
}

.addForm .addForm__input::placeholder {
    color: vars.$color-white-50;
}

.addForm .addForm__group--upload {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.addForm .addForm__hidden {
    display: none;
}

.addForm .addForm__2col {
    width: calc(100% - 20px);
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.addForm .addForm__2col .addForm__input {
    width: calc((100% - 0.2rem) / 2);
    margin: 0;
}

.button {
    display: block;
    min-width: 120px;
    max-width: 150px;

    margin: 8px;
    padding: 5px 18px;
    color: vars.$color-white;
    font: vars.$font-button;
    text-transform: none;
    text-decoration: none;
    text-align: center;

    border-radius: 40px;
    background-image: linear-gradient(
        to right,
        vars.$color-dark-lilac -2%,
        #c0b7e8 98%
    );

    cursor: pointer;
}

.hidden {
    display: none;
}

.button--large {
    display: block;
    width: 145px;

    margin-inline: auto;
    margin-block: 8px;
    padding: 5px 18px;
    color: vars.$color-white;
    font: vars.$font-button;
    text-transform: none;
    text-decoration: none;
    text-align: center;

    border-radius: 40px;
    background-color: transparent;
    background-image: linear-gradient(
        to right,
        vars.$color-dark-lilac -2%,
        #c0b7e8 98%
    );

    cursor: pointer;
}

.button--large:hover {
    border-color: vars.$color-white;
}

.button--reset {
    display: block;
    min-width: 120px;
    max-width: 150px;

    margin: 40px auto auto;
    padding: 5px 18px;
    color: vars.$color-dark-lilac;
    font: vars.$font-button;
    text-transform: none;
    text-decoration: none;
    text-align: center;

    border-radius: 40px;
    background-image: linear-gradient(
        to right,
        vars.$color-white -2%,
        #c0b7e8 98%
    );

    cursor: pointer;
}

.loader {
    width: 48px;
    height: 48px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    animation: roll 1s ease-in-out infinite alternate;

    &__container {
        display: flex;
        justify-content: center;
    }
}
.loader:after {
    content: "";
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: 5px solid;
    border-color: #c0b7e8 transparent;
}
@keyframes roll {
    0% {
        transform: translateX(-150%) rotate(0deg);
    }
    100% {
        transform: translateX(150%) rotate(360deg);
    }
}
